body {font-size:16px; text-align:center;}
a {color:#302626; text-decoration:none;}
div {padding:10px;}

.works > div :hover {
  background-color: rgba(207,211,230,0.9);
}

.works {
  font-weight: 600;
}

.works > div {
}

.works > div > a {
  display: block;
  transition:all 0.2s linear;
}

.link_guide {
  margin:0;
  font-size: 12px;
  font-weight: 400;
}