#wrap {letter-spacing:-0.5px;}
/*헤더 영역*/
#header {height:50px; width:100%; background:#fff; position:relative;}
.logo {width:236px; height:100%; margin:0 auto; text-indent:-9999px;}
.logo a {width:100%; height:100%; display:block; background:url(../image/logo.png) no-repeat center center; background-size:54px auto;}
.m_menu {width:58px; height:100%; position:absolute; top:0; right:0; text-indent:-9999px;}
.m_menu a {display:block; width:100%; height:100%; background:url(../image/m_menu.png) no-repeat 20px center; background-size:23px auto;}

/*헤더 영역 - 슬라이드 메뉴*/
.slide_menu {width:300px; height:100%; background-color:#fff; position:fixed; top:0; right:0; z-index:9999; padding:14px 24px; display:none;}
.slide_search {width:218px; height:36px; position:relative;}
.slide_search input {width:179px; height:34px;}
.slide_search span {display:block; width:39px; height:34px; background:url(../image/btn_search3.gif) center center; background-size:100% auto; position:absolute; right:0; top:0; text-indent:-9999px;}
.slide_search span a {display:block; width:100%; height:100%;}

.slide_close {width:21px; height:21px; background-image:url(../image/btn_slide_close.png); position:absolute; right:16px; top:21px; text-indent:-9999px;}
.slide_close a{display:block; width:100%; height:100%;}

.slide_utill {font-weight:300; line-height:16px; height:16px; margin-top:20px; position:relative;}
.slide_utill ul:after {display:block; content:""; clear:both;}
.slide_utill li {padding-right:12px; margin-right:12px; float:left; border-right:1px solid #1e2c5b; vertical-align:center;}
.slide_utill a {font-size:16px; color:#1e2c5b; display:block; width:100%; height:100%;}
.slide_utill .slide_utill_cart {width:41px; height:31px; padding:0; background:url(../image/cart.png) no-repeat center center; border-right:0; position:absolute; right:-12px; top:-9px;}
.slide_utill_cart a {text-indent:-9999px;}
.slide_utill_cart .cart_number {position:absolute; top:-2px; right:3px; width:17px; height:17px; border-radius:50%; background-color:#ff0000; color:#fff; text-align:center; line-height:17px; font-size:12px;}


/*헤더 영역 - 슬라이드 메뉴 끝*/

.slide_black {background-color:rgba(0,0,0,0.5); position:fixed; left:0; right:0; top:0; bottom:0; z-index:9998; display:none;}
/*헤더 영역 끝*/
/*메인비주얼 영역*/
#main_visual {width:100%; height:550px; background-color:#e4f1d3; position:relative;}
#main_visual > a {display:block; width:100%; height:100%;}

.ms_text {text-align:center; padding-top:360px; line-height:36px; font-size:14px; font-weight:bold; background:url(../image/ms_back.png) no-repeat center 130px; background-size:130px auto; letter-spacing:-0.5px; color:#55595a;}
.ms_text p {font-size:30px; color:#000;}

.ms_textpager {position:absolute; left:9.2%; top:37px;}
.ms_textpager li {line-height:34px;}
.ms_textpager li a {font-size:24px; color:#c5c5c5; font-weight:bold;}
.ms_textpager .on a {color:#6eb327;}

.ms_barpager {position:absolute; left:50%; bottom:40px; transform:translateX(-50%); width:60%;}
.ms_barpager ul:after {content:""; clear:both; display:block;}
.ms_barpager li {float:left; width:14.28%; height:7px; background-color:#e5e5e5; text-indent:-9999px;}
.ms_barpager .on {background-color:#313131;}
.ms_barpager a {display:block; width:100%; height:26px;}
/*메인비주얼 영역 끝*/
.contour {width:100%; height:30px; background-color:#373f42;}
/*컨테이너 영역 시작*/
/*컨텐츠1 북캐스트 시작*/
.bookcast {text-align:center;}
.slider_mark {width:16px; height:29px; background-image:url(../image/slider_button3.png); text-indent:-9999px; position:absolute;}

.bookcast:after {content:""; clear:both; display:block;}
.bookcast h3 {display:block; width:50%; height:180px; font-size:19px; line-height:22px; letter-spacing:-0.7px; float:left;}
.bookcast h3 a {display:block; width:100%; height:100%; background-color:#6eb327; color:#fff;}
.bookcast .title {padding-top:65px;}
.bookcast .sub_title {font-size:15px; line-height:18px; letter-spacing:-0.45px;}

.cast_cont1 {float:left; width:50%; height:180px;}
.cast_cont1 a {display:block; width:100%; height:100%; background:url(../image/cont1_bg1.jpg) no-repeat center center; background-size:cover;}
.cast_cont1 .text {font-size:12px; color:#9fd964; font-weight:bold; letter-spacing:-0.5px; line-height:18px; padding-top:60px;}
.cast_cont1 .text2 {font-size:17px; line-height:22px;color:#6eb327; letter-spacing:-1px; font-weight:bold;}

.cast_photo {float:left; width:50%; height:180px; background:url(../image/cont1_bg2.jpg) no-repeat center center; background-size:cover;}

.cast_cont2 {float:left; width:50%; height:180px; background-color:#5e6b9e;}
.cast_cont2 h4 {font-size:14px; line-height:16px; font-weight:500; letter-spacing:-0.8px; padding:20px 0 8px;}
.cast_cont2 ul {padding:0 3.89% 0 7.78%; list-style:none;}
.cast_cont2 li {font-size:13px; line-height:21px; letter-spacing:-0.8px; text-align:left; position:relative;}
.cast_cont2 li:before {content: "•"; color:white;}
.cast_cont2 li a {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; position:absolute; left:10%; top:0;}
.cast_cont2 a {display:block; width:88%; height:100%; color:#fff;}

.cast_photo2 {float:left; width:100%; height:180px; background:url(../image/cont1_bg3.jpg) no-repeat center center; background-size:cover;}
/*컨텐츠1 북캐스트 끝*/
/*컨텐츠2 인터뷰 시작*/
.interview {text-align:center;}
.interview h3 {font-size:28px; font-weight:700; line-height:31px; color:#6eb327; padding-top:58px;}
.interview h3 p {font-size:15px; line-height:15px; color:#5c699d; font-weight:500;}
.interview > p {font-size:18px; padding:20px 0 40px; font-weight:300;}

.interview_cont {position:relative;}
.interview_cont img {width:100%;}

.interview_in {position:absolute; left:0; top:0; width:100%; height:100%; color:#fff; padding-right:33px;}
.interview_in li p { text-align:right;}
.interview_in h4 {text-align:right; position:absolute; right:9.15%; bottom:55.42%;}
.interview_in .coment {font-size:17px; line-height:19px; padding-top:32px; font-weight:300;}
.interview_in .subject {font-size:20px; line-height:22px; font-weight:700;}
.interview_in .name {font-size:20px; line-height:38px; font-weight:500;}

.interview_in .view {width:130px; height:46px; border-radius:23px; border:2px solid #fff; position:absolute; bottom:17.08%; left:50%; transform:translateX(-50%);}
.interview_in .view a {display:block; width:100%; height:100%; color:#fff; font-size:16px; line-height:42px;}

.interview_in .pager {position:absolute; bottom:6.67%; left:50%; transform:translateX(-50%);}
.interview_in .pager ul:after {display:block; content:""; clear:both;}
.interview_in .pager li{width:8px; height:8px; text-indent:-9999px; background-color:#fff; border-radius:50%; float:left; margin:0 8px;}
.interview_in .pager .on {background-color:#6eb327; width:12px; height:12px; margin-top:-2px;}
/*컨텐츠2 인터뷰 끝*/
/*컨텐츠3 오늘의책 시작*/
.today {text-align:center; position:relative;}
.today h3 {font-size:28px; font-weight:700; line-height:31px; color:#6eb327; padding-top:58px;}
.today h3 p {font-size:15px; line-height:15px; color:#5c699d; font-weight:500; letter-spacing:0;}
.today > p {font-size:18px; padding:20px 0 40px; font-weight:300; line-height:23px;}
.today > p span {font-size:16px;}

.today .slide_y {overflow-y:hidden; height:253px; z-index:98;}
.today .slide_x {overflow-x:scroll; height:270px;}
.today ul {width:1665px;}
.today ul:after {content:""; display:block; clear:both;}
.today li {height:253px; width:328px;  position:relative; float:left; margin-right:5px;  z-index:998;}
.today li h4 {font-size:20px; line-height:24px; color:#141414; padding-top:10px;}
.today li .coment {font-size:16px; color:#b6b6b6; line-height:20px;}
.today li .name {font-size:18px; line-height:20px; color:#757575; padding-top:13px; text-align:right; padding-right:47.22%;}
.today li .company {font-size:13px; line-height:15px; color:#b7b7b7; text-align:right; padding-right:47.22%;}
.today li .photo {width:31.94%; border:1px solid #fff; position:absolute; top:63px; right:3.68%; z-index:99;}
.today li .photo img {width:100%;}
.today a {display:block; width:100%; height:118px; border:1px solid #439031; z-index:999;}
.today .slider_mark {right:6px; top:280px;}

.today_bg {background:url(../image/today_bg.jpg) no-repeat center center; background-size:cover; width:100%; height:130px; border-top:1px solid #000; border-bottom:1px solid #000; position:absolute; bottom:0; left:0;}
/*컨텐츠3 오늘의책 끝*/
/*컨텐츠4 베스트 셀러 시작*/
.best {text-align:center; position:relative;}
.best h3 {font-size:28px; font-weight:700; line-height:31px; color:#6eb327; padding-top:58px;}
.best h3 p {font-size:15px; line-height:15px; color:#5c699d; font-weight:500; letter-spacing:3.7px; padding-left:3.7px;}
.best > p {font-size:18px; padding:20px 0 40px; font-weight:300; line-height:23px;}

.best_box {width:100%; height:250px; background:url(../image/best_bg.jpg) no-repeat center center; background-size:cover; color:#fff; position:relative;}
.best_box .text {width:212px; margin-right:148px; margin-left:10px;}
.best_box h4 {font-size:18px; line-height:23px; font-weight:700; padding-top:50px; letter-spacing:-1.5px;}
.best_box h4 p {font-size:16px; line-height:20px; font-weight:500;}
.best_box .name {font-size:16px; line-height:18px; font-weight:700; padding-top:2px;}
.best_box .company {font-size:13px; line-height:15px;}
.best_box .coment {font-size:13px; line-height:18px; font-weight:400; padding-top:10px;}
.best_box .cmt_name {font-size:12px; line-height:25px; font-weight:300;}

.best_box .slide_y {overflow-y:hidden; height:210px; position:absolute; top:40px; left:0; width:100%;}
.best_box .slide_x {overflow-x:scroll; height:241px;}
.best ul {width:1448px;}
.best ul:after {display:block; content:""; clear:both;}
.best li {height:170px; width:116px; border:1px solid #fff; float:left; margin-right:6px;}
.best .blank_box {width:222px; border:0;}
.best li img {width:100%; height:100%;}
.best .slider_mark {right:4px; top:50%; transform:translateY(-50%);}
/*
1220 + 212 + 10 = 1448
*/
/*컨텐츠4 베스트 셀러 끝*/
/*컨텐츠5 교보온리 시작*/
.only {text-align:center; position:relative;}
.only h3 {font-size:34px; font-weight:700; line-height:30px; color:#5c699d; padding-top:58px;}
.only h3 p {font-size:22px; line-height:26px; color:#6eb327; font-weight:700; letter-spacing:1.8px; padding-left:5px;}
.only > p {font-size:18px; padding:20px 0 40px; font-weight:300; line-height:23px;}


.only ul {margin:0 auto 20px; padding:0 16%; display:none;}
.only .on {display:block;}
.only ul:after {display:block; content:""; clear:both;}
.only li {display:block; width:45.84%; height:100px; padding:0.83%; float:left; margin:0 auto; }
.only li img {height:105px;}


.only .pager {display:block; width:17px; height:32px; background-position:center center; background-size:17px auto; position:absolute; top:75%; transform:translateY(-50%);}
.only .left {background-image:url(../image/only_pager_left.jpg); left:5%;}
.only .right {background-image:url(../image/only_pager_right.jpg); right:5%;}
/*컨텐츠5 교보온리 끝*/
/*컨텐츠6 감성메이커 시작*/
.emotion {text-align:center; position:relative;}
.emotion h3 {font-size:28px; font-weight:700; line-height:31px; color:#6eb327; padding-top:58px;}
.emotion h3 p {font-size:15px; line-height:15px; color:#5c699d; font-weight:500; letter-spacing:-1px;}
.emotion > p {font-size:18px; padding:20px 0 40px; font-weight:300; line-height:23px;}

.emotion .menu ul {border-top:1px solid #373f42; border-bottom:1px solid #373f42;}
.emotion .menu ul:after {display:block; content:""; clear:both;}
.emotion .menu li {width:25%; height:65px; float:left; padding:10px 0;}
.emotion .menu a {font-size:16px; line-height:22px; color:#5c699d; font-weight:500;}
.emotion .menu p {font-size:14px; line-height:14px; font-weight:300; color:#6e6e6e;}

.emotion .menu .on {background-color:#6eb327;}
.emotion .menu .on a {color:#fff;}
.emotion .menu .on p {color:#fff;}

.emotion .slide_y {overflow:hidden; height:250px;}
.emotion .slide_x {overflow-x:scroll; height:270px;}
.emotion .product ul {width:1000px;}
.emotion .product ul:after {display:block; content:""; clear:both;}
.emotion .product li {width:250px; height:250px; float:left;}
.emotion .product li a {display:block; width:100%; height:100%; position:relative;}
.emotion .product img {width:100%;}
.emotion .product p {display:block; height:72px; width:100%; background-color:rgba(255,255,255,0.5); position:absolute; bottom:0; left:0; font-size:16px; line-height:22px; padding:14px 26px; color:#000; font-weight:500;}

.emotion .slider_mark {top:367px; right:6px;}
/*컨텐츠6 감성메이커 끝*/
/*컨텐츠7 공지사항 시작*/
.board {padding:22px 15px 40px;}
.board > div {position:relative;}
.board h4 {line-height:41px; margin-bottom:4px; letter-spacing:-1px; text-align:center;}
.board h4 a {color:#353949; font-size:22px; font-weight:500; display:block; width:100%; height:100%;}
.board li {line-height:22px; letter-spacing:-1px; white-space:nowrap; text-overflow:ellipsis; overflow: hidden;}
.board li a {color:#353949; font-size:13px; font-weight:500;}

.board .notice {padding-bottom:13px; border-bottom:1px solid #252528; margin-bottom:15px;}

.board .more {width:45px; height:45px; text-indent:-9999px; position:absolute; right:0; top:0;}
.board .more a {display:block; width:100%; height:100%; background:url(../image/board_more.jpg) no-repeat center center; background-size:15px auto;}
/*컨텐츠7 공지사항 끝*/
/*컨테이너 끝*/

/*푸터 시작*/
/*푸터 메뉴 시작*/
.f_menu {width:100%; text-align:center;}
.f_menu ul:after {display:block; content:""; clear:both;}
.f_menu li {background-color:#6d707c; float:left; width:25%; padding:3px 0;}
.f_menu li a {display:block; height:37px; font-size:13px; font-weight:300; line-height:37px; color:#fff; letter-spacing:-1px;}
.f_menu .lines a{line-height:18px;}
/*푸터 메뉴 끝*/
/*푸터 패밀리사이트 시작*/
.family {position:relative;}
.family h4 {background-color:#353949; height:38px; width:207px; font-size:18px; line-height:38px;  color:#fff; text-align:center; font-weight:500;}
.family .slide_mark {width:36px; height:38px; background:url(../image/family_slide.png) no-repeat center center; background-color:#2d2d2d; background-size:11px auto; position:absolute; top:0; left:207px; text-indent:-9999px;}

.family .slide_y {overflow-y:hidden; height:38px; position:absolute; top:0; left:0; width:100%;}
.family .slide_x {overflow-x:scroll; height:50px;}
.family ul {width:1761px;}
.family ul:after {display:block; content:""; clear:both;}
.family li {padding:0 11px; text-align:center; background-color:#2d2d2d; float:left;}
.family .blank_box {width:243px; height:38px; background:none;}
.family li a {font-size:16px; color:#fff; line-height:38px; font-weight:500; display:block; width:100%; height:100%;}
/*푸터 패밀리사이트 끝*/
/*푸터 인 시작*/
.footer_in {text-align:center; padding:15px;}
.footer_in a {color:#7f7a7a;}

.f_logo {width:97px; height:30px; background:url(../image/f_logo.png) no-repeat center center; background-size:97px auto; margin:0 auto 15px;}

.f_info {position:relative;}
.f_info p {font-size:12px;line-height:18px; color:#7f7a7a;}
.f_info span {padding:0 5px;}
.f_info p a {position:relative;}
.f_buyer {display:block; width:100%;}
.f_lg {margin:0 auto;}
.f_buyer a {padding-left:15px; font-weight:700;}
.f_lg a {padding-left:15px;}
.f_info p a .tri {display:block; width:11px; height:18px; background:url(../image/f_tri.png) no-repeat center center; position:absolute; left:0; top:0; text-indent:-9999px;}
.f_call {font-weight:700;}
.f_lg {font-weight:700;}

.isms {width:175px; height:40px; margin:12px auto; padding:6px 0 6px 72px; background:url(../image/f_isms.png) no-repeat 20px center; background-size:auto 40px;}
.isms a {display:block; width:100%; height:100%;  font-size:12px; line-height:14px;}

.copy {font-size:12px; color:#7f7a7a;}
/*푸터 인 끝*/
/*푸터 끝*/