#wrap {position:relative; margin-left:19%}

/*헤더*/
header {position:fixed; top:0; left:0; height:100%; width:19%; background-color:rgba(255,255,255,.9);}
/*로고*/
.logo :hover {
    filter: blur(3px);
}

.logo {display:block; width:180px; height:112px; margin:80px auto 0; text-indent:-9999px;}
.logo a {display:block; width:100%; height:100%; background-image:url(../img/logo.jpg); transition: all 0.2s ease-in-out;}
/*로고 끝*/
/*유틸 메뉴*/
.utill li :hover {
    color:#b7b966;
}
.utill {width:calc(30% + 158px);margin:0 auto;}
.utill ul:after {display:block; content:""; clear:both;}
.utill li {float:left; margin:0 5%; letter-spacing:-1px; width:57px; line-height:100px;}
.utill li a {transition: all 0.2s ease-in-out;}
.utill li:first-child {width:44px}
.utill a {display:block; width:100%; height:100%; font-size:16px; font-weight:500;}
/*유틸메뉴 끝*/
/*메인메뉴*/
nav li :hover {
    color:#000;
}

nav {width:213px; margin:0 auto; font-weight:400; font-size:22px; line-height:50px; text-align:center;}
nav > div {border-top:2px solid #ffcfcf; padding:20px 0;}
nav li a {display:block; width:100%; height:100%; color:#909090;
    transition: all 0.2s ease-in-out;
}
/*메인메뉴 끝*/
/*헤더 끝*/
/*푸터*/
.footer_box .f_right p :hover {
    color:#909090;
}
.f_logo :hover {
    filter: brightness(50%);
    filter: blur(3px);
}

#footer {background-color:#211500; color:#fff; display:block; width:100%; height:400px;}

.footer_box {display:block; width:100%; height:300px;}
.footer_box:after {display:block; content:""; clear:both;}
.footer_box h3 {font-size:24px; padding-top:50px; line-height:50px;}
.footer_box p {font-size:14px; line-height:1.8; color:#d3d3d3;}
.footer_box a {color:#fff; font-size:18px; font-weight:500; display:block; width:100%; height:100%;}

.f_logo {display:block; width:33.34%; height:100%; text-indent:-9999px; float:left;}
.f_logo a {display:block; width:100%; height:100%; background:url(../img/flogo.jpg) no-repeat center center; transition: all 0.2s linear;}

.f_left {float:left; width:33.33%;}
.f_left h3 {}

.f_right {float:left; width:33.33%;}
.f_right p {margin:10px;}

.copy {text-align:center;}
/*푸터 끝*/

@media screen and (max-width:1199px){
    #wrap {margin-left:0; padding-top:100px;}
    /*헤더*/
    header {height:101px; width:100%; border-bottom:1px solid #ffcfcf; z-index:999;}
    .utill {display:none;}
    nav {display:none;}
    
    .logo {width:53.34%; height:100%; margin:0 auto;}
    .logo a {display:block; width:100%; height:100%; background-position:center center;background-size:auto 80px; background-repeat:no-repeat;}
    
    .t_pers {position:absolute; top:0; left:0; width:23.34%; height:100%;}
    .t_pers a {display:block; width:100%; height:100%; background:url(../img/t_personal.png) no-repeat center center;}
    .t_menu {position:absolute; top:0; right:0; width:23.34%; height:100%;}
    .t_menu a {display:block; width:100%; height:100%;  background:url(../img/t_menu.png) no-repeat center center;}
    /*헤더 끝*/
    /*푸터*/
    footer {height:800px; text-align:center;}
    
    .footer_box {height:auto;}
    .footer_box h2 {float:none; margin:0 auto; height:240px;}
    .footer_box > div {float:none; width:100%;}
    
    .f_left h3{padding-top:0;}
    
    .f_right p {margin:0;}
    
    .copy {padding:50px;}

    /*푸터 끝*/
}

@media screen and (max-width:767px){
    #wrap {padding-top:80px;}
    header {height:80px;}
    .logo a {background-size:auto 55px;}
    
    .t_pers a {background-size:auto 35px;}
    .t_menu a {background-size:auto 35px;}
    /*푸터*/
    footer {height:700px;}
    
    .f_logo a {background-size:auto 75px;}
    
    .footer_box h2 {height:170px;}

    .copy {font-weight:100;}

    /*푸터 끝*/
}