@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
*{margin:0; padding:0;}
ul, li{list-style:none;}
body{font-size:14px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a{color:#121212; text-decoration:none;}
img{border:none; vertical-align:top;}
input{vertical-align:top;}
button{vertical-align:top; cursor:pointer;}
select{vertical-align:top;}