@charset "utf-8";
/* CSS Document */

.inner{width:980px; margin:0 auto;}

#topVisual{width:100%; height:150px; background:url(../images/sub/submenu.jpg) no-repeat center 0; background-size:cover;}
#topVisual .inner{padding:52px 0; position:relative;}
#topVisual .inner .title{text-align:center; color:#fff;}
#topVisual .inner .title .main{font-size:32px; line-height:32px;}
#topVisual .inner .title .sub{font-size:12px; font-weight:normal; letter-spacing:9px;}

#topVisual .inner .navi{position:absolute; bottom:24px; right:4px;}
#topVisual .inner .navi ul:after{content:""; display:block; clear:both;}
#topVisual .inner .navi ul li{float:left; margin-right:20px; color:#fff; line-height:15px;}
#topVisual .inner .navi ul .home{display:inline-block;width:15px; height:15px; background:url(../images/sub/home.jpg) no-repeat 0 0; text-indent:-9999px;}
#topVisual .inner .navi ul li a{color:#fff;}

#container .title .inner{width:980px; margin:0 auto; padding:45px 0 24px;}
#container .title .inner h3{font-size:22px; line-height:20px; margin-bottom:13px;}
#container .title .inner p{color:#986352; font-size:14px;}

.mainVisual{width:100%; height:240px; background:url(../images/sub/mainVisual.jpg) no-repeat center 0; background-size:cover;}
.mainVisual .inner{width:412px; height:77px; background:url(../images/sub/visual.jpg) no-repeat left 0; margin:0 auto; padding:80px 42px 83px 526px;}
.mainVisual .inner p{text-align:center;}
.mainVisual .inner .des{font-size:20px; line-height:20px; color:#6e4133; margin-bottom:18px; letter-spacing:-1px;}
.mainVisual .inner .name{font-family: 'Nanum Myeongjo', serif; font-size:40px; line-height:40px; font-weight:800;}

.cont1{width:980px; margin:0 auto; padding-top:45px;}
.cont1 .title{font-size:22px; line-height:22px; margin-bottom:21px;}
.cont1 .pr{padding:0 53px;}

.cont1 .pr ul li .comment{font-size:22px; line-height:22px; color:#e2a651; margin-bottom:14px; text-align:left;}

.cont1 .pr ul:after{content:""; display:block; clear:both;}
.cont1 .pr ul li{width:384px; float:left; margin-bottom:80px;}
.cont1 .pr ul .pr1{background:url(../images/sub/backphoto1.jpg) no-repeat 0 32px;margin-right:106px;}
.cont1 .pr ul .pr2{background:url(../images/sub/backphoto2.jpg) no-repeat 0 32px;}
.cont1 .pr ul .pr3{background:url(../images/sub/backphoto3.jpg) no-repeat 0 32px;margin-right:106px;}
.cont1 .pr ul .pr4{background:url(../images/sub/backphoto4.jpg) no-repeat 0 32px;}
.cont1 .pr ul .pr5{background:url(../images/sub/backphoto5.jpg) no-repeat 0 32px;margin-right:106px;}
.cont1 .pr ul .pr6{background:url(../images/sub/backphoto6.jpg) no-repeat 0 32px;}
.cont1 .pr ul li p{text-align:center;}
.cont1 .pr ul li .photo{margin:32px 21px;}
.cont1 .pr ul li .name{font-size:20px; line-height:20px; font-weight:bold; margin:40px 0 20px;}
.cont1 .pr ul li .des{line-height:15px;}
.cont1 .pr ul li p span{margin-right:6px; display:inline-block; font-size:12px; color:#999;}
.cont1 .pr ul li p .dicon{width:15px; height:15px; background-image:url(../images/sub/time.png); text-indent:-9999px;}
.cont1 .pr ul li p .vicon{width:18px; height:15px; background-image:url(../images/sub/view.jpg); text-indent:-9999px;}

.page{width:980px; height:123px; position:relative;}
.page ul{position:absolute; bottom:123px; left:50%; transform:translateX(-50%);}
.page ul:after{content:""; display:block; clear:both;}
.page ul li{float:left; margin-right:20px; font-size:20px; line-height:23px; color:#623b2f;}
.page ul li:hover a{color:#09F;}
.page .Lbtn{display:block; position:absolute; bottom:123px; left:50%; margin-left:-246px; width:15px; height:23px; background-image:url(../images/sub/btn_pre.jpg); text-indent:-9999px;}
.page .Rbtn{display:block; position:absolute; bottom:123px; left:50%; margin-left:246px; width:15px; height:23px; background-image:url(../images/sub/btn_next.jpg); text-indent:-9999px;}